site_name: Ivan “CLOVIS” Canet
site_author: Ivan “CLOVIS” Canet
site_description: >
  Software engineering, open source and computer security

theme:
  name: material
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    # - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  icon:
    edit: material/pencil
    view: material/eye
  logo: assets/logo.svg
  favicon: assets/logo.svg
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: "System theme (click to switch to light)"
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: "Light theme (click to switch to dark)"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: "Dark theme (click to switch to system)"

plugins:
  # - social # https://github.com/squidfunk/mkdocs-material/issues/7818
  - search
  - privacy:
      assets_exclude:
        - p.canet.dev/script.js
  - blog:
      post_excerpt: required
      authors: false
  - tags:
      tags_file: blog/tags.md
  - rss:
      match_path: 'blog/posts/.*'
      date_from_meta:
        as_creation: date.created
        as_update: date.updated
      use_git: false

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - footnotes
  - tables
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde

extra:
  analytics:
    provider: custom

edit_uri: edit/main/docs/website/docs

use_directory_urls: false

nav:
  - Home: index.md

  - Experience:
      - experience.md

      - Professional:
          - 4SH:
              - experience/4sh.md
              - experience/ktmongo.md
              - experience/4sh-learning.md
              - experience/vup.md
              - experience/simar.md
              - experience/cin.md
          - experience/cea.md
          - experience/arcachon.md

      - Education:
          - experience/enseirb.md
          - experience/ochadai.md
          - experience/iut.md

      - Organizations:
          - experience/opensavvy.md
          - experience/wildfyre.md
          - experience/telegram.md

  - Public speaking:
      - talks/ktconf-be.md
      - talks/kotlinconf.md
      - talks/bordeauxkt.md
      - talks/bdxio.md
      - talks/4sh-workshops.md
      - talks/tech-derailed.md

  - Blog:
      - blog/index.md
      - blog/tags.md
